
<!DOCTYPE HTML>
<html>


    <!-- Mirrored from remtsoy.com/tf_templates/the_box/demo_v1_6/index-layout-7.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 04 Feb 2016 18:00:59 GMT -->
    <head>
        <title>All For Deal</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="keywords" content="Template, html, premium, themeforest" />
        <meta name="description" content="TheBox - premium e-commerce template">
        <meta name="author" content="Tsoy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400italic,400' rel='stylesheet' type='text/css'>
        <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
        <link rel="stylesheet" href="{{ asset('css/mystyles.css')}}">
        <link rel="stylesheet" href="{{ asset('css/switcher.css')}}" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/bright-turquoise.css')}}" title="bright-turquoise" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/turkish-rose.css')}}" title="turkish-rose" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/salem.css')}}" title="salem" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/hippie-blue.css')}}" title="hippie-blue" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/mandy.css')}}" title="mandy" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/green-smoke.css')}}" title="green-smoke" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/horizon.css')}}" title="horizon" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/cerise.css')}}" title="cerise" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/brick-red.css')}}" title="brick-red" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/de-york.css')}}" title="de-york" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/shamrock.css')}}" title="shamrock" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/studio.css')}}" title="studio" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/leather.css')}}" title="leather" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/denim.css')}}" title="denim" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="{{ asset('css/schemes/scarlet.css')}}" title="scarlet" media="all" />
    </head>

    <body>
        <div class="global-wrapper clearfix" id="global-wrapper">
            <div class="demo_changer" id="demo_changer">
                <div class="demo-icon fa fa-sliders"></div>
                <div class="form_holder">
                    <div class="line"></div>
                    <p>Color Scheme</p>
                    <div class="predefined_styles" id="styleswitch_area">
                        <a class="styleswitch" href="index-layout-7c392.html?default=true" style="background:#486D97;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('bright-turquoise')}}" style="background:#0EBCF2;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('turkish-rose')}}" style="background:#B66672;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('salem')}}" style="background:#12A641;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('hippie-blue')}}" style="background:#4F96B6;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('mandy')}}" style="background:#E45E66;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('green-smoke')}}" style="background:#96AA66;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('horizon')}}" style="background:#5B84AA;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('cerise')}}" style="background:#CA2AC6;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('brick-red')}}" style="background:#cf315a;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('de-york')}}" style="background:#74C683;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('shamrock')}}" style="background:#30BBB1;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('studio')}}" style="background:#7646B8;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('leather')}}" style="background:#966650;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('denim')}}" style="background:#1A5AE4;"></a>
                        <a class="styleswitch" href="#" data-src="{{ asset('scarlet')}}" style="background:#FF1D13;"></a>
                    </div>
                    <div class="line"></div>
                    <p>Layout</p>
                    <div class="predefined_styles"><a class="btn btn-xs" href="#" id="btn-wide">Wide</a>&nbsp;&nbsp;<a class="btn btn-xs" href="#" id="btn-boxed">Boxed</a>
                    </div>
                    <div class="line"></div>
                    <p>Background Patterns</p>
                    <div class="predefined_styles" id="patternswitch_area">
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/binding_light.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/binding_dark.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/dark_fish_skin.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/dimension.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/escheresque_ste.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/food.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/giftly.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/grey_wash_wall.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/ps_neutral.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/pw_maze_black.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/pw_pattern.png')}});"></a>
                        <a class="patternswitch" href="#" style="background-image: url({{ asset('img/patterns/simple_dashed.png')}});"></a>
                    </div>
                    <div class="line"></div>
                    <p>Background Images</p>
                    <div class="predefined_styles" id="bgimageswitch_area">
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/bike.jpg')}});" data-src="{{ asset('img/backgrounds/bike.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/flowers.jpg')}});" data-src="{{ asset('img/backgrounds/flowers.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/wood.jpg')}});" data-src="{{ asset('img/backgrounds/wood.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/taxi.jpg')}});" data-src="{{ asset('img/backgrounds/taxi.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/phone.jpg')}});" data-src="{{ asset('img/backgrounds/phone.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/road.jpg')}});" data-src="{{ asset('img/backgrounds/road.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/keyboard.jpg')}});" data-src="{{ asset('img/backgrounds/keyboard.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/beach.jpg')}});" data-src="{{ asset('img/backgrounds/beach.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/street.jpg')}});" data-src="{{ asset('img/backgrounds/street.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/nature.jpg')}});" data-src="{{ asset('img/backgrounds/nature.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/bridge.jpg')}});" data-src="{{ asset('img/backgrounds/bridge.jpg')}}"></a>
                        <a class="bgimageswitch" href="#" style="background-image: url({{ asset('img/switcher/cameras.jpg')}});" data-src="{{ asset('img/backgrounds/cameras.jpg')}}"></a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="navbar-before mobile-hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="navbar-before-sign">Tout ce que vous voulez c'est All For Deal</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
                <h3 class="widget-title">Connexion</h3>
                <p>Vous avez déjà un compte</p>
                <hr />

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                        
                {% else %}
                    {% render controller("FOSUserBundle:Security:login") %}
                {% endif %}
                <div class="gap gap-small"></div>
                <ul class="list-inline">
                    <li><a href="#nav-account-dialog" class="popup-text">Not Member Yet</a>
                    </li>
                    <li><a href="#nav-pwd-dialog" class="popup-text">Forgot Password?</a>
                    </li>
                </ul>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-account-dialog">
                <h3 class="widget-title">Create TheBox Account</h3>
                <p>Ready to get best offers? Let's get started!</p>
                <hr />
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input class="i-check" type="checkbox" />Subscribe to the Newsletter</label>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Create Account" />
                </form>
                <div class="gap gap-small"></div>
                <ul class="list-inline">
                    <li><a href="#nav-login-dialog" class="popup-text">Already Memeber</a>
                    </li>
                </ul>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
                <h3 class="widget-title">Password Recovery</h3>
                <p>Enter Your Email and We Will Send the Instructions</p>



            </div>
            <nav class="navbar navbar-inverse navbar-main navbar-pad">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path('ecommerce_homepage')}}">
                            <img src="{{ asset('img/LOGOAFD.png')}}" alt="Image Alternative text" title="Image Title" />
                        </a>
                         </li>
                        
                                  <a class="navbar-brand" href="{{ path('service_offre') }}">Services</a>
                                
                                
                                <a class="navbar-brand" href="{{ path('produit_affichePForAllUsers') }}">Produits</a>
                                
                            
                    </div>
                    <div class="rel">
  
                        <form class="navbar-form navbar-left navbar-main-search navbar-main-search-category" role="search">
                            <select class="navbar-main-search-category-select"  >
                                <option   >Cherchez</option>
                                <option  > Produit</option>
                                <option  >Service</option>

                            </select>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Ecrire ici..." />
                            </div>
                            <a class="fa fa-search navbar-main-search-submit" href="#"></a>
                        </form>
                        <ul class="nav navbar-nav navbar-right navbar-right-no-mar navbar-nav-lg">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="dropdown yamm-fw">

                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                    

                                </li>
                                 <li class="dropdown yamm-fw">
                                <a href="{{ path('sonata_user_profile_show') }}">Profile</a>
                                
                            {% else %}
                                <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">
                                        Bonjour, Connectez-vous</a>
                               
                                    {% endif %}
                            <li class="dropdown">
                                <a class="fa fa-shopping-cart" href="shopping-cart.html"></a>
                                <ul class="dropdown-menu dropdown-menu-shipping-cart">
                                    <li>
                                </ul>
                                
                                </div>
                            
                                </div>
                                </nav>


                                <div class="container">
                                    <div class="gap gap-small"></div>
                                    <div class="row row-sm-gap" data-gutter="10">
                                        <div class="col-md-2">
                                      <div class="clearfix">
                                                <ul class="dropdown-menu dropdown-menu-category dropdown-menu-category-hold dropdown-menu-category-sm">

                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'2'})}}"><i class="fa fa-tags dropdown-menu-category-icon"></i>Vêtements</a>

                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'3'})}}"><i class="fa fa-video-camera dropdown-menu-category-icon"></i>Multimedia</a>
                                                    </li>
                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'4'})}}"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electromenager</a>
                                                    </li>
                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'5'})}}"><i class="fa fa-desktop dropdown-menu-category-icon"></i>Informatique</a>
                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'6'})}}"><i class="fa fa-building dropdown-menu-category-icon"></i>Immobilier</a> 
                                                    </li> 
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'7'})}}"><i class="fa fa-automobile dropdown-menu-category-icon"></i>Véhicules</a>

                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'8'})}}"><i class="fa fa-home dropdown-menu-category-icon"></i>Maison et Jardin</a>

                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'9'})}}"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Bijoux</a>

                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'10'})}}"><i class="fa fa-child dropdown-menu-category-icon"></i>enfants et jouets</a>

                                                    </li>


                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'11'})}}"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>

                                                    </li>
                                                    <li><a href="{{path('produit_recherchePByType',{'categorie':'13'})}}"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>

                                                    </li>
                                                </ul> 
                                            </div>
          
                                        </div>
                                        <div class="col-md-10">
                                            <div class="owl-carousel owl-loaded owl-nav-dots-inner owl-carousel-curved" data-options='{"items":1,"loop":true}'>
                                                <div class="owl-item">
                                                    <div class="slider-item" style="background-image:url(img/test_slider/17.jpg); height:490px;">
                                                        <div class="slider-item-inner slider-item-inner-container">
                                                            <div class="slider-item-caption-right slider-item-caption-white slider-item-caption-sm">
                                                                <h4 class="slider-item-caption-title">iPhone 6s</h4>
                                                                <p class="slider-item-caption-desc">Be First to get one just from $500</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                                            </div>
                                                            <img class="slider-item-img-left" src="{{ asset('img/test_slider/16.png')}}" alt="Image Alternative text" title="Image Title" style="left: 7%; top: 60%; width: 19%;" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="slider-item" style="background-color:#3D3D3D; height:490px;">
                                                        <div class="slider-item-inner slider-item-inner-container">
                                                            <div class="slider-item-caption-left slider-item-caption-white slider-item-caption-sm">
                                                                <h4 class="slider-item-caption-title">Save up to $150 on Your Next Laptop</h4>
                                                                <p class="slider-item-caption-desc">I'm Not Gonna Pay A Lot For This Laptop.</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                                            </div>
                                                            <img class="slider-item-img-right" src="{{ asset('img/test_slider/1.png')}}" alt="Image Alternative text" title="Image Title" style="top: 60%; width: 66%; right: -14%;" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="slider-item" style="background-color:#93282B; height:490px;">
                                                        <div class="slider-item-inner slider-item-inner-container">
                                                            <div class="slider-item-caption-left slider-item-caption-white slider-item-caption-sm">
                                                                <h4 class="slider-item-caption-title">Run! Run! Run!</h4>
                                                                <p class="slider-item-caption-desc">Your Running Shoes, Right Away.</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                                                            </div>
                                                            <img class="slider-item-img-right" src="{{ asset('img/test_slider/3.png')}}" alt="Image Alternative text" title="Image Title" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gap"></div>
                                   

                                    <div class="gap"></div>
                                    <h3 class="widget-title">Produits disponibles</h3>
                                    
                                    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
                                        {% for p in produits %}
                                        <div class="owl-item">
                                            <div class="product  owl-item-slide">
                                                 
                                                <div class="product-img-wrap">
                                                    <img class="product-img" src=" {% path p.media, 'small' %}" alt="Image Alternative text" title="Image Title" />
                                                </div>
                                                <a class="product-link" href="#"></a>
                                                <div class="product-caption">
                                                  
                                                    <h5 class="product-caption-title">{{p.nomP}}</h5>
                                                    <div class="product-caption-price"><span class="product-caption-price-old">{{p.prix}}</span><span class="product-caption-price-new"> {% set prix= p.prix-p.reduction  %} {{prix}}DT</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                                    
                                        {% endfor %}
                                    </div>
                                                  
                                    <div class="gap"></div>
                                     <h3 class="widget-title">Services Disponibles</h3>
                                     <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":true,"nav":true}'>
                                        {% for c in services %}
                                        <div class="owl-item">
                                            <div class="product  owl-item-slide">
                                                 
                                                <div class="product-img-wrap">
                                                      <h5 class="banner-category-title"> {{c.nomService}}</h5>
                                                </div>
                                                <a class="product-link" href="#"></a>
                                                <div class="product-caption">
                                                   <h5 class="banner-category-title"> {{c.type}}</h5>
                                                    <p class="banner-category-desc">{{c.zone.nom}}</p>
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                      
                                                    
                                                    
                                        {% endfor %}
                                          </div>
                                    </div>
                                   {# <div class="row" data-gutter="15">
                                        {% for c in services %}

                                            <div class="col-md-2">
                                                <a class="banner-category" href="#">
                                                 
                                                    
                                                    <h5 class="banner-category-title"> {{c.nomService}}</h5>
                                                    <p class="banner-category-desc">{{c.zone.nom}}</p>
                                                     <p class="banner-category-desc">{{c.type}}</p>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>#}
                                       <div class="gap"></div>
                                   
                                            
                                        </div>
                                     
                                 
                              

                                <footer class="main-footer">
                                    <div class="container">
                                        <div class="row row-col-gap" data-gutter="60">
                                            <div class="col-md-3">
                                                <h4 class="widget-title-sm">All For Deal</h4>
                                                <p> Achetez, Vendez un produit !
                                                    Proposer, Répondre à un service !
                                                </p>
                                                <ul class="main-footer-social-list">
                                                    <li>
                                                        <a class="fa fa-facebook" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-twitter" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-pinterest" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-instagram" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-google-plus" href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-md-3">
                                                <h4 class="widget-title-sm">Contact us</h5>
                                                    <form>
                                                        <div class="form-group">
                                                            <label></label>
                                                            <a href="{{path('application_mail_sendMail')}}" <input type ="submit" value ="send" class="btn btn-lg btn-ghost btn-blue"/>Contact Us</a>

                                                        </div>

                                                    </form>
                                            </div>
                                        </div>
                                        <ul class="main-footer-links-list">
                                            <li><a href="#">About Us</a>
                                            </li>
                                            <li><a href="#">Jobs</a>
                                            </li>
                                            <li><a href="#">Legal</a>
                                            </li>
                                            <li><a href="#">Support & Customer Service</a>
                                            </li>
                                            <li><a href="#">Blog</a>
                                            </li>
                                            <li><a href="#">Privacy</a>
                                            </li>
                                            <li><a href="#">Terms</a>
                                            </li>
                                            <li><a href="#">Press</a>
                                            </li>
                                            <li><a href="#">Shipping</a>
                                            </li>
                                            <li><a href="#">Payments & Refunds</a>
                                            </li>
                                        </ul>
                                      
                                    </div>
                                </footer>
                                <div class="copyright-area">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="copyright-text">Copyright &copy; <a href="#">TheBox</a> 2014. Designed my remtsoy. All rights reseved</p>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="payment-icons-list">
                                                    <li>
                                                        <img src="{{ asset('img/payment/visa-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Visa" />
                                                    </li>
                                                    <li>
                                                        <img src="{{ asset('img/payment/mastercard-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Mastercard" />
                                                    </li>
                                                    <li>
                                                        <img src="{{ asset('img/payment/paypal-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Paypal" />
                                                    </li>
                                                    <li>
                                                        <img src="{{ asset('img/payment/visa-electron-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Visa-electron" />
                                                    </li>
                                                    <li>
                                                        <img src="{{ asset('img/payment/maestro-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Maestro" />
                                                    </li>
                                                    <li>
                                                        <img src="{{ asset('img/payment/discover-straight-32px.png')}}" alt="Image Alternative text" title="Pay with Discover" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <script src="{{ asset('js/jquery.js')}}"></script>
                                <script src="{{ asset('js/bootstrap.js')}}"></script>
                                <script src="{{ asset('js/icheck.js')}}"></script>
                                <script src="{{ asset('js/ionrangeslider.js')}}"></script>
                                <script src="{{ asset('js/jqzoom.js')}}"></script>
                                <script src="{{ asset('js/card-payment.js')}}"></script>
                                <script src="{{ asset('js/owl-carousel.js')}}"></script>
                                <script src="{{ asset('js/magnific.js')}}"></script>
                                <script src="{{ asset('js/custom.js')}}"></script>


                                <script src="{{ asset('js/switcher.js')}}"></script>
<p id="demo"></p>



                                </body>


                                <!-- Mirrored from remtsoy.com/tf_templates/the_box/demo_v1_6/index-layout-7.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 04 Feb 2016 18:06:28 GMT -->
                                </html>
