{% extends "ServiceBundle::layout2.html.twig" %}
{% block x %}


 <form method="POST" class="navbar-form navbar-left navbar-main-search" >
                        <div class="form-group">
                            <input name="nomService" class="form-control" type="text" placeholder="rechercher un service..." />
                        </div>
                      <a class="fa fa-search navbar-main-search-submit" href="#"></a>
                    </form>
{% endblock  %}
{% block t %}
    <header class="page-header">
        <h1>Ajouter un service</h1>
    </header>
    <div name="Service" class="box-lg">
        <form action=""  method="POST" > 
            <div class="form-group">
                <label>Nom de service</label>
                <input class="form-control" {{ form_widget(Form.nomService)}}
            </div>
            <div class="form-group">
                <label>Description</label>
                       <textarea class="form-control"{{ form_widget(Form.description) }}</textarea>
            </div>

            <div class="form-group">Type :
                     {{ form_widget(Form.type,{'attr':{'class':'category-selections-select'}}) }}

                </select>
            </div>

            <div class="form-group">Gouvernorat :
                     {{ form_widget(Form.zone,{'attr':{'class':'category-selections-select'}}) }}

                </select>
            </div>
 
            {{ form_widget(Form.Ajouter,{'attr':{'class':'btn btn-primary'}}) }}
{{ form_rest(Form) }}
        </form>{# empty Twig template #}

    </div>

{% endblock  %}
