{% extends 'ProduitBundle::layout2.html.twig' %}
{% block x %}


    <form method="POST" class="navbar-form navbar-left navbar-main-search" >
        <div class="form-group">
            <input name="nomService" class="form-control" type="text" placeholder="rechercher un produit..." />
        </div>
        <a class="fa fa-search navbar-main-search-submit" href="#"></a>
    </form>
{% endblock  %}
{% block t %}
    <header class="page-header"><h1>Les produits disponibles</h1>
    </header>
    <div name="Service" class="box-lg">
        {% for p in Produit %}
            <fieldset >
                
                {% thumbnail p.media, 'small' %} 
                <legend >Categorie :{{p.categorie}}</legend>
                <label><b> Produit :</b></label><label name="nomP">{{p.nomP}}</label><br>
                <label><b>Prix sans réduction :</b></label><label name="prix">{{p.prix}}</label><br>
                <label><b>Reduction :</b></label><label name="prix">{{p.reduction}}</label><br>
                <label><b>Quantite :</b></label><label name="prix">{{p.quantite}}</label><br>
                <label><b>Prix avec reduction:</b></label><label name="prix">{{p.prix1}}</label><br>
                <label><b>Gouvernorat:</b></label><label name="gouvernorat">{{p.zone.nom}}</label><br>
                <a class="btn btn-lg btn-ghost btn-black" href="{{ path('produit_affichePSForAllUsers',{'id':p.id}) }}"> Consulter </a>
                <a class="btn btn-lg btn-ghost btn-black" href="{{ path('ecommerce_panierAjout',{'id':p.id,'nom':p.nomP,'prix':p.prix}) }}"> Ajouter Panier </a>
            </fieldset>

        {% endfor %}
    </div>
{% endblock %}
