{% extends 'ProduitBundle::layout2.html.twig' %}
{% block x %}
    <form method="POST" class="navbar-form navbar-left navbar-main-search" >
        <div class="form-group">
            <input name="nomP" class="form-control" type="text" placeholder="rechercher un produit..." />
        </div>
        <a class="fa fa-search navbar-main-search-submit" href="#"></a>
    </form>
{% endblock  %}
{% block t %}
    <div name="produit" class="box-lg">
        {% for p in Produit %}
    <fieldset >
        <legend >Categorie :{{p.categorie}}</legend>
        <label><b> Produit :</b></label><label name="nomP">{{p.nomP}}</label><br>
        <label><b>Description :</b></label><label name="decription">{{p.description}}</label><br>
        <label><b>Prix :</b></label><label name="prix">{{p.prix}}</label><br>
          <label><b>TVA :</b></label><label name="prix">{{p.tva}}</label><br>
        <label><b>Reduction :</b></label><label name="prix">{{p.reduction}}</label><br>
        <label><b>Quantite :</b></label><label name="prix">{{p.quantite}}</label><br>
        <label><b>Prix avec reduction:</b></label><label name="prix">{{p.prix1}}</label><br>
        <label><b>Prix final avec tva:</b></label><label name="prix">{{p.prix2}}</label><br>
        <label><b>Gouvernorat:</b></label><label name="gouvernorat">{{p.zone.nom}}</label><br>
   
    </fieldset>

{% endfor %}

    </div>

{% endblock  %}

